* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    --big-shoulders-display:'Big Shoulders Display', cursive;
    --lexend-deca:'Lexend Deca', sans-serif;
}

html {
    font-size: 15px;
    font-family: var(--big-shoulders-display);    
}

body {
    padding: 40px;    
}

button {
    font-size: 1rem;
}

.gridlayout {
    
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    max-width: 1000px;   
}

.card {
    color: var(--transparent-white);
    padding: 0 5rem ;     
}
.card--sedan {
    background-color: var(--bright-orange);
}
.card--sedan .button {
    color: var(--bright-orange);
}
.card--suv {
    background-color: var(--dark-cyan);
}
.card--suv .button {
    color: var(--dark-cyan);
}
.card--luxury {
    background-color: var(--very-dark-cyan);
}
.card--luxury .button{
    color: var(--very-dark-cyan);
}

.icon__container {
    padding-top: 50px;
}


.title {
    color: var(--very-light-gray);
    text-transform: uppercase;
    font-size: 2.3rem;
    margin-top: 25px;

}

.text {
    color: var(--transparent-white);
    font-family: var(--lexend-deca);
    font-size: .9rem;
    line-height: 2.0;
    margin-top: 1.5rem;
    margin-bottom: 5rem;


}

.button {
    font-family: var(--lexend-deca);
    font-size: .9rem;
    margin-top: 25px;
    margin-bottom: 40px;
    border-radius: 40px;
    border: none;
    padding: 15px 30px;
}

